[Unit]
Description="debot01"
After=network.target

[Service]
WorkingDirectory=/opt/debot01
ExecStart=/bin/bash /opt/debot01/scripts/debot_lighter.sh debot01
Restart=on-failure
RestartSec=30
StartLimitBurst=5
StandardOutput=journal
StandardError=journal

[Install]
